@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500&family=Orelega+One&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
/* font-family: 'Libre Bodoni', serif;
font-family: 'Orelega One', cursive; */

/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
} */

:root {
  --point_blue01: #4174d8;
  --point_blue02: #48609e;
  --fale_blue: #bccbde;
  --dark: #1c1b1b;
  --grey: #909090;
}
body {
  font-family: "Pretendard-Regular";
  color: var(--dark, #1c1b1b);
  background: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}
dl,
ol,
ul {
  margin-bottom: 0;
  padding-left: 0;
}
/* typograpy */
.con_tt {
  font-family: "Libre Bodoni", serif;
  font-size: 80px;
  margin-top: 160px;
}
.libre {
  font-family: "Libre Bodoni", serif;
}
main {
  position: relative;
  z-index: 1;
}
header {
  background: #f4f4f4;
}
header > div {
  height: 72px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

header ul {
  display: flex;
  gap: 0 52px;
  align-items: center;
}
header ul li:hover {
  font-weight: 500;
}
header ul li a {
  display: block;
  padding: 10px;
}
header ul li.menuChange {
  color: #fff;
}
.container {
  width: 1272px;
}

/* sec_01 */

.title_01 {
  font-size: 84px;
  margin-top: 36px;
  /* line-height: 72px;  */
}
.title_02 {
  font-size: 72px;
  margin-bottom: 20px;
}
.title_02 em {
  color: #729cef;
}

.sec_01 p {
  color: var(--grey, #909090);
  font-size: 32px;
  font-weight: 700;
}
.sec_01,
.sec_02,
.sec_03,
.sec_04 {
  height: calc(100vh - 72px);
}
.sec_01 span {
  color: #454545;
  font-size: 24px;
  font-weight: 700;
}
.sec_01 span:first-child::after {
  display: block;
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #000;
}
.scroll_wrap {
  position: absolute;
  left: 90%;
  bottom: 100px;
}
.scroll {
  animation: scroll_rotate 10s linear infinite;
}
@keyframes scroll_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scroll_wrap svg {
  position: absolute;
  z-index: 10;
  left: 87%;
  transform: translateX(-60px);
  bottom: 40px;
}
.channel {
  display: flex;
  gap: 16px;
  line-height: 48px;
  text-align: center;
  justify-content: center;
  margin-top: 270px;
}
.channel li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e8e7ea;
  transition: 0.3s;
}
.channel li:hover {
  background-color: #ececec;
  color: #a1a1a1;
}
.channel li:hover path {
  /* fill: #a1a1a1; */
  /* border: #777676; */
}
.title_wrap {
  position: relative;
  left: -50px;
  top: 70px;
}
/* sec_02 */
.sec_02 {
  text-align: center;
  display: flex;
  align-items: center;
}

.sec_02 img {
  width: 381px;
  height: 248.167px;
  /* margin: 58px 0 20px; */
  margin-bottom: 20px;
}
.sec_02 h2 {
  color: var(--fale_blue, #bccbde);
  font-family: Orelega One;
  font-size: 70px;
  margin-bottom: 30px;
}
.sec_02 p span {
  color: var(--point_blue, #4174d8);
  font-weight: 600;
}

.sec_02 p {
  font-size: 18px;
  line-height: 1.7;
}
.sec_02 p:last-child {
  font-size: 20px;
}
.sec_02 p em {
  font-weight: 700;
}

/* sec_03 */
.sec_03 h3 {
  color: var(--text, #1c1b1b);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  display: inline-block;
}
.sec_03 h3::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 40px;
  background: url(../images/“.png) no-repeat;
  left: -35px;
  top: -5px;
}
.sec_03 h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 40px;
  background: url(../images/”.png) no-repeat;
  left: 100%;
  top: -5px;
}
.sec_03 h3 span {
  color: var(--point_blue, #4174d8);
  font-weight: 700;
}

.sec_03 h4 {
  font-family: "Libre Bodoni", serif;
  color: #48609e;
  font-size: 28px;
  margin-bottom: 10px;
}
.sec_02 img {
  transform: scale(0.7);
}
.about {
  margin-bottom: 50px;
}
.about li,
.my_info li {
  font-size: 14px;
  line-height: 24px;
}
.about li span,
.my_info li span {
  width: 85px;
  font-weight: 600;
  display: inline-block;
}
.info_name {
  font-size: 40px;
}
.my_info i {
  margin-right: 10px;
}

/* sec_04 */
.skill_wrap {
  height: 100%;
}
.skill_wrap > div {
  display: flex;
  width: 80%;
  gap: 50px;
  margin: 150px auto 0;
}
.sec_04 .con_tt {
  margin-top: 200px;
}
.chart figcaption {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}
.chart {
  position: relative;
  display: inline-block;
}
.chart img {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%);
}

.chart .html,
.chart .css,
.chart .react {
  top: 27%;
}

.chart .php {
  top: 40%;
}
.outer {
  fill: transparent;
  stroke: #945d5d;
  stroke-width: 6;
  stroke-dasharray: 235;
  stroke-dashoffset: -235;
  /* transition: stroke-dashoffset 1s; */
  /* -webkit-animation-play-state: running;

  -moz-transform: rotate(-89deg) translateX(-190px); */
  stroke-linecap: round;
  transform: rotate(-85deg);
  transform-origin: center center;
}
.html + svg .outer {
  stroke: #f2aa92;
}

.css + svg .outer {
  stroke: #89bae0;
}

.js + svg .outer {
  stroke: #f8dc79;
}

.jquery + svg .outer {
  stroke: #649cc5;
}

.react + svg .outer {
  stroke: #afe7f6;
}

.php + svg .outer {
  stroke: #8997af;
}
.ps + svg .outer {
  stroke: #b1d0ea;
}
.ai + svg .outer {
  stroke: #f9d296;
}

/* work */
.sec_05 {
  padding-top: 100px;
}
.work {
  background: #505050;
  height: 100vh !important;
}
.sec_05 h2 {
  color: #d9e3ef;
}
.sec_05 .fp-tableCell {
  height: 100vh !important;
  vertical-align: 0;
}
.w_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work_wrap {
  width: 50%;
  position: relative;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
}
.work_wrap h3 {
  font-size: 80px;
  position: absolute;
  left: -220px;
  bottom: 10px;
  color: #fff;
  opacity: 0;
  z-index: 10;
  transition: 0.5s;
}
.work_wrap h3 i {
  margin-left: 20px;
}
.work_wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 불투명한 배경색을 지정합니다. */
  pointer-events: none; /* 가상 요소를 클릭 가능하지 않도록 설정합니다. */
  z-index: 1;
  opacity: 0;
}
.work_wrap:hover:after,
.work_wrap:hover h3 {
  opacity: 1;
}

.work_wrap:hover h3 {
  left: 20px;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.work_info {
  margin-top: 35px;
  width: 600px;
  height: 1200px;
  background: #f5f5f5;
  font-size: 14px;
  padding: 20px 40px;
  position: relative;
}
.number {
  color: #717272;
  font-family: Libre Bodoni;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
}
.work_info h3 {
  font-size: 28px;
  text-align: center;
}
.work_info h4 {
  color: #48609e;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}
.work_info h4 i {
  margin-right: 5px;
}
p {
  margin-bottom: 0;
}
.work_info p > span {
  display: inline-block;
  width: 85px;
  font-weight: bold;
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 70px;
  height: 70px;
  background: url(../images/chevron-left.png) no-repeat center/cover;
  border-width: 0;
}

.fp-controlArrow.fp-next {
  right: 15px;
  width: 70px;
  height: 70px;
  background: url(../images/chevron-right.png) no-repeat center/cover;
  border-width: 0;
}

/* footer */
.sec_06 {
  position: relative;
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 264px;
  background: #fff;
  color: var(--grey);
  font-size: 14px;
}
.footer i {
  margin-right: 10px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_info {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.f_info p {
  color: #78899f;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.f_info a {
  line-height: 25px;
}
.sec_06 .channel {
  margin-top: 50px;
}
.rights {
  margin-top: 70px;
}
